.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.mouse-hover {
    cursor: pointer;
}

.ta-center {
    text-align: center;
}


//POSITIONS
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

//COLS
.col-6 {
    width: calc(6 * 100% / 12);
}

.col-3 {
    width: calc(3 * 100% / 12 - 20px);
}

.col-8 {
    width: calc(8 * 100%/ 12);
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.bg-img {
    background-image: url(/public/img/background-pattern-wavify.png);
}



.border-radius-5 {
    border-radius: 5px;
}

.d-block {
    display: block;
}